<!DOCTYPE html>
<html>
  <head>
    <title>Nombreux Mysterieux</title>
  </head>
  <body>
    <h1>Plus ou moins</h1>
    rentre une valeur entre 0 et 1000.
    <!--Case pour rentré nombre qui va se ranger dans la variable nuValeur-->
    <input type="number" [(ngModel)]="nuValeur"><br>
    <!--Action de verifier si les variable nuValeur et naValeur sont égale ou adapté le result-->
    <button (click)="checkNumber()">Vérifier</button>
    <!--Afficher le result-->
  <p>{{ result }}</p>
  </body>
</html>
